html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

p {
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0.0;
        transform: translateY(50px);
    }
    to {
        opacity: 1.0;
    }
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 10px;
    z-index: 9999;
    padding: 0.75rem 1.25rem;
    background: #3186d2;
    font-weight: 600;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: left 0.2s ease;
}
.skip-link:focus {
    left: 10px;
}

#body {
    background-color: #F6F7F9;
    margin: 0;
}


#navdiv {
    background: #972F0C;
    min-height: 4em;
    display: flex;
    justify-content: space-between;
    height: 3em;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: 1px solid #7d371f;
}

#navhome {
    color:#fff;
    font-weight: bolder;
    text-decoration: none;
    font-size: 32px;
    padding-left: 1em;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 15%);
}

#navcontrols * {
    color:#fff;
    font-weight: bolder;
    text-decoration: none;
    font-size: 18px;
    padding-left: 1em;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 15%);
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maindiv {
    background-color: #fff;
    width: min(95%, 1200px);
    max-width: 1200px;
    padding: 50px;
    margin: 0 auto 2em;
    border-left: 1px solid #ECEDEE;
    border-right: 1px solid #ECEDEE;
    border-bottom: 1px solid #ECEDEE;
}

section.animate {
    animation: fadeIn 0.8s ease forwards;
}

section {
    margin-top: 5em;    
    opacity: 0;
}

section.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section.card > * > img {
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 20%);
    min-width: 50%;
}

section.card > p {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 0;
}

footer {
    margin-top: 4em;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4em;
}
footer > * {
    font-size: 14px;
}

footer > .row > * a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.redirect {
    font-weight: bold;
    color:black;
    transition: color 0.2s ease;
}

.redirect:hover {
    color: #3186d2;
}

.redirect-button {
    background: #FFA500;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 10%);
    width: max-content;
    padding: 0.5em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.redirect-button:hover {
    background: #feb733;
}

.redirect-button:active {
    transform: scale(0.9, 0.9);
}

.newscard {
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 10%);
    background-color: #F6F7F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 1em;
    flex: 1 1 0;
}

.newscard > * {
    margin: 1em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.newscard li {
    margin-bottom: 1em;
}

section.newscard p {
    text-align: justify;
    margin: 0.5em !important;
}

.newscard img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    margin: 0;
}

table {
    width: 100%;
    max-width: 100%;
}

table * {
    padding: 0.5em;
    text-align: center;
}

thead * {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.donorTable > * > :nth-child(3) {
    text-align: left;
}

tbody > :nth-child(odd) {
    background: #f9f9f9;
}

tbody > :nth-child(even) {
    background: #e0e0e0;
}   

#dataTable img {
    max-width: 6em;
    max-height: 8em;
}

#add_project .textinput {
    max-width: 60%;
}

#add_project .row {
    justify-content: space-between;
}
table .pf {
    background-color: rgba(172, 253, 217, 0.75);
}

table .pj {
    background-color: rgba(226, 172, 255, 0.75);
}

.breakword {
  overflow-wrap: break-word;
  word-break: break-word;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1em;
}

fieldset * {
    margin: 0.25em;
}

fieldset .textinput:user-invalid {
    background-color: rgb(253, 226, 226);
    border: 1px solid rgb(245, 159, 159);
}

fieldset .textinput:user-invalid + div {
    visibility: visible;
}

fieldset .textinput + div {
    visibility: hidden;
    min-width:fit-content;
    color: red;
}

fieldset .textinput {
    height: 2.5em;
    width: 100%;
    border: 1px solid #ECEDEE;
    border-radius: 0px;
    background-color: #F6F7F9;
}

.overflow-x {
    overflow-x: auto;
}

button {
    background: #FFA500;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 10%);
    border: none;
    font-weight: bold;
    padding: 0.5em;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
} 

img.aside {
    max-width: 33%;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 20%);
}

.gallery {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}


.gallery * {
    max-width: 30em;
    padding: 1em;
}

.responsive-grid {
    display: grid;
    justify-content: center;
}

@media (orientation: landscape) {
    .responsive-grid {
        grid-template-columns: auto auto;
    }
}

@media (orientation: portrait) {
    .responsive-grid {
        grid-template-columns: auto;
    }
}

button {
    transition: transform 0.2s ease;
}

button:hover {
    background: #feb733;
}

button:active {
    transform: scale(0.9, 0.9);
}